.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078D4;
    padding: 1rem 0;
}

.text {
    font-size: 1rem;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .text {
        font-size: 0.8rem;
    }
}